<div class="movie-container <%= @mood_class %>" data-controller="renderer">
  <div class="movies-card d-flex flex-column flex-row <%= @mood_class %>">
    <h2 class="m-1"><%= @movies.count %> movies, just for you</h2>
    <div class="d-flex flex-column justify-content-center">
      <div class="wrapper" data-renderer-target="display" >
        <%= render 'tenmovies' %>
      </div>
      <div class="d-flex justify-content-between">
        <div class="btn-suivant text-start ms-3 mt-1">
          <%= link_to 'New search', root_path, class: "btn-question effect-previous" %>
        </div>
        <div class="text-start me-3 mt-1" data-controller="timeout">
          <button class="btn-question" id="shuffle" data-timeout-target="button" data-action="click->renderer#update"><i class="fas fa-random"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
