<div class="main-container" data-controller='changing-slide'>

  <div class="custom-container home-screen visible-question">
    <div class="">
      <div class="main-card">
        <h1>Perfect Watch</h1>
        <p>Tu ne sais pas quoi regarder?</p>
        <button type='button' class='btn-general', data-action='click->changing-slide#nextquestion'>Parfait</button>
        <%#= link_to 'Parfait', '', class: 'btn-general', data: { action:'click->changing-slide#nextquestion' %>
      </div>
    </div>
  </div>

  <%= simple_form_for :search, url: movies_path, method: 'GET' do |f| %>
    <div class="custom-container next-question" data-changing-slide-target='question'>
      <div class="">
        <div class="main-card">
          <h2 class='mb-5'>Quels sont les services auxquels tu es abonné(e)?</h2>
          <div class="platforms d-flex flex-wrap justify-content-around">
            <div>
              <%= f.input :platform, label: '', as: :check_boxes, input_html: {class: 'hiddenbox'}, item_wrapper_class: 'btn-general', collection: Movie::PLATFORMS, label_method: :second, value_method: :first %>
            </div>
          </div>
        </div>
        <div class="btn-suivant text-end">
          <button type='button' class='btn-question effect-next', data-action='click->changing-slide#nextquestion'>Question suivante</button>
          <%#= link_to 'Question suivante', '#', class: 'btn-question effect-next', data: { action:'click->changing-slide#nextquestion' } %>
        </div>
      </div>
    </div>

    <div data-controller='add-color'>
      <div class="custom-container next-question" data-changing-slide-target='question'>
        <div class="">
          <div class="main-card">
            <h2 class='mb-4'>Quelle sera l'ambiance de ta soirée?</h2>
            <div class="platforms d-flex justify-content-around flex-wrap">
              <div class="mood-card">
                <%= f.input :mood, label: '', as: :radio_buttons, input_html: { data: {action: 'click->add-color#changecolor'}, class: 'hiddenbox'}, item_wrapper_class: 'btn-general', collection: Mood::MOODS %>
              </div>
                <%#= image_tag '#' %>
              <%# @moods.each do |mood| %>
                <%# <div class="mood-card"> %>
                <%# <%= mood.name %>
                <%# </div> %>
              <%# end %>
            </div>
          </div>
          <div class="btn-suivant text-start">
            <%= link_to 'Question précedente', '#', class: 'btn-question effect-previous', data: { action:'click->changing-slide#nextquestion' } %>
          </div>
        </div>
      </div>

      <div class="custom-container next-question" data-add-color-target='bgcolor' data-changing-slide-target='question'>
        <div class="">
          <div class="main-card" data-add-color-target='bgcolor'>
            <h2 class='mb-4'>Combien de temps as-tu devant toi?</h2>
            <div class="platforms d-flex justify-content-between">
              <div>
                <label class='btn-general' data-add-color-target='bgcolor' for="time">Moins de 2h</label>
                <input class='hiddenbox' id="time" type='checkbox'>
              </div>
              <div>
                <label class='btn-general' data-add-color-target='bgcolor' for="time">Plus de 2h</label>
                <input class='hiddenbox' id="time" type='checkbox'>
              </div>
            </div>
          </div>
          <div class="btn-suivant text-start">
            <%= link_to 'Question précedente', '#', class: 'btn-question effect-previous', data: { add_color_target: 'bgcolor', action:'click->changing-slide#nextquestion'} %>
          </div>
        </div>
      </div>

      <div class="custom-container next-question" data-add-color-target='bgcolor' data-changing-slide-target='question'>
        <div class="">
          <div class="main-card" data-add-color-target='bgcolor'>
            <h2 class='mb-4'>Plutôt un incontournable ou une pépite?</h2>
            <div class="platforms d-flex justify-content-between">
              <div>
                <label class='btn-general' data-add-color-target='bgcolor' for="famous">Un incontournable!</label>
                <input class='hiddenbox' id="famous" type='checkbox'>
              </div>
              <div>
                <label class='btn-general' data-add-color-target='bgcolor' for="famous">Une pépite!</label>
                <input class='hiddenbox' id="famous" type='checkbox'>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between">
          <div class="btn-suivant text-start">
            <%= link_to 'Question précedente', '#', class: 'btn-question effect-previous', data: { add_color_target: 'bgcolor', action:'click->changing-slide#nextquestion'} %>
          </div>
          <div class="text-end">
            <label class='btn-question effect-next' data-add-color-target='bgcolor' for='result'>Résultats</label>
            <input class='hiddenbox' id="result" type='submit' value='Résultats'>
          </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%# avec js ajouter la classe next question a la question d'apres et visible-question à la question affichée %>
<%# transition passage de 100vh à 0vh en 250ms %>
