<div class="main-container">

  <div class="custom-container home-screen next-question">
    <div class="visible-question">
      <div class="main-card">
        <h1>Perfect Watch</h1>
        <p>Tu ne sais pas quoi regarder?</p>
        <%= link_to 'Parfait', '#', class: 'btn-general' %>
      </div>
    </div>
  </div>

  <div class="custom-container next-question">
      <div class="">
        <div class="main-card">
          <h2 class='mb-5'>Quels sont les services auxquels tu es abonné(e)?</h2>
          <div class="platforms d-flex flex-wrap justify-content-around">
            <%= link_to 'Netflix', '#', class: 'btn-general' %>
            <%= link_to 'Prime Video', '#', class: 'btn-general' %>
            <%= link_to 'Disney +', '#', class: 'btn-general' %>
            <%= link_to 'Apple TV', '#', class: 'btn-general' %>
          </div>
        </div>
        <div class="btn-suivant text-end">
          <%= link_to 'Question suivante', '#', class: 'btn-question effect-next' %>
        </div>
    </div>
  </div>

  <div class="custom-container next-question">
    <div class="">
      <div class="main-card">
        <h2 class='mb-4'>Quelle sera l'ambiance de ta soirée?</h2>
        <div class="platforms d-flex justify-content-between">
            <%#= image_tag '#' %>
          <% @moods.each do |mood| %>
            <div class="mood-card">
            <p><%= mood.name %></p>
            </div>
          <% end %>
        </div>
      </div>
      <div class="btn-suivant text-start">
        <%= link_to 'Question précedente', '#', class: 'btn-question effect-previous' %>
      </div>
    </div>
  </div>

  <div class="custom-container visible-question horror">
    <div class="">
      <div class="main-card horror">
        <h2 class='mb-4'>Combien de temps as-tu devant toi?</h2>
        <div class="platforms d-flex justify-content-between">
          <%= link_to 'Moins de 2h', '#', class: 'btn-general horror' %>
          <%= link_to 'Plus de 2h', '#', class: 'btn-general horror' %>
        </div>
      </div>
      <div class="btn-suivant text-start">
        <%= link_to 'Question précedente', '#', class: 'btn-question effect-previous horror' %>
      </div>
    </div>
  </div>

  <div class="custom-container next-question">
    <div class="">
      <div class="main-card">
        <h2 class='mb-4'>Plutôt un incontournable ou une pépite?</h2>
        <div class="platforms d-flex justify-content-between">
          <%= link_to 'Un incontournable!', '#', class: 'btn-general' %>
          <%= link_to 'Une pépite!', '#', class: 'btn-general' %>
        </div>
      </div>
      <div class="d-flex justify-content-between">
      <div class="btn-suivant text-start">
        <%= link_to 'Question précedente', '#', class: 'btn-question effect-previous' %>
      </div>
      <div class="text-end">
        <%= link_to 'Résultats', '#', class: 'btn-question effect-next' %>
      </div>
      </div>
    </div>
  </div>

</div>

<%# avec js ajouter la classe next question a la question d'apres et visible-question à la question affichée %>
<%# transition passage de 100vh à 0vh en 250ms %>
