<div class="main-container" data-controller='changing-slide'>

  <div class="custom-container home-screen visible-question">
    <div class="">
      <div class="main-card">
        <%= image_tag 'Logo.png', height: 90, width: 200 %>
        <br>
        <p>Don't know what to watch?</p>
        <button type='button' class='btn-general', data-action='click->changing-slide#nextquestion'>Perfect.</button>
        <%#= link_to 'Parfait', '', class: 'btn-general', data: { action:'click->changing-slide#nextquestion' %>
      </div>
    </div>
  </div>

  <%= simple_form_for :search, url: movies_path, method: 'GET' do |f| %>
    <div class="custom-container next-question" data-changing-slide-target='question'>
      <div class="">
        <div class="main-card">
          <h2 class='mb-5'>What platforms do you have?</h2>
          <div class="platforms d-flex flex-wrap justify-content-around">
            <div>
              <%= f.input :platform, label: '', as: :check_boxes, input_html: {class: 'hiddenbox'}, item_wrapper_class: 'btn-general', collection: Movie::PLATFORMS %>
            </div>
          </div>
        </div>
        <div class="btn-suivant text-end">
          <button type='button' class='btn-question effect-next', data-action='click->changing-slide#nextquestion'>Next question</button>
          <%#= link_to 'Question suivante', '#', class: 'btn-question effect-next', data: { action:'click->changing-slide#nextquestion' } %>
        </div>
      </div>
    </div>

    <div data-controller='add-color'>
      <div class="custom-container next-question" data-changing-slide-target='question'>
        <div class="">
          <div class="main-card">
            <h2 class='mb-4'>What will be the mood of your evening?</h2>
            <div class="platforms d-flex justify-content-around flex-wrap">
              <div class="mood-card">
                <%# <% if @moods.name ==  %>
                <%= f.input :mood, label: '', as: :radio_buttons, input_html: { data: {action: 'click->add-color#changecolor'}, class: 'hiddenbox'}, item_wrapper_class: 'btn-general', collection: Mood::MOODS %>
              </div>
                <%#= image_tag '#' %>
              <%# @moods.each do |mood| %>
                <%# <div class="mood-card"> %>
                <%# <%= mood.name %>
                <%# </div> %>
              <%# end %>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="btn-suivant text-start">
              <button type='button' class='btn-question effect-previous', data-action='click->changing-slide#previousquestion'>Previous question</button>
            </div>
            <div class="btn-suivant text-end">
              <button type='button' class='btn-question effect-next', data-action='click->changing-slide#nextquestion'>Next question</button>
            </div>
        </div>
      </div>

      <div class="custom-container next-question" data-add-color-target='bgcolor' data-changing-slide-target='question'>
        <div class="">
          <div class="main-card">
            <h2 class='mb-4'>How much time do you have?</h2>
            <div class="platforms d-flex justify-content-between">
              <div>
                <%= f.input :duration, label: '', as: :radio_buttons, input_html: {class: 'hiddenbox'}, item_wrapper_class: 'btn-general', collection: [['Less than 2 hours', true], ['More than 2 hours', false]] %>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="btn-suivant text-start">
              <button type='button' class='btn-question effect-previous', data-action='click->changing-slide#previousquestion'>Previous question</button>
            </div>
            <div class="btn-suivant text-end">
              <button type='button' class='btn-question effect-next', data-action='click->changing-slide#nextquestion'>Next question</button>
            </div>
          </div>
        </div>
      </div>

      <div class="custom-container next-question" data-add-color-target='bgcolor' data-changing-slide-target='question'>
        <div class="">
          <div class="main-card">
            <h2 class='mb-4'>A must to watch or a discovery?</h2>
            <div class="platforms d-flex justify-content-between">
              <div>
                <%= f.input :famous, label: '', as: :radio_buttons, input_html: {class: 'hiddenbox'}, item_wrapper_class: 'btn-general', collection: [['A must!', true], ['A discovery!', false]] %>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="btn-suivant text-start">
              <button type='button' class='btn-question effect-previous', data-action='click->changing-slide#previousquestion'>Previous question</button>
            </div>
            <div class="text-end">
              <label class='btn-question effect-next' for='result'>Results</label>
              <input class='hiddenbox' id="result" type='submit' value='Résultats'>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%# avec js ajouter la classe next question a la question d'apres et visible-question à la question affichée %>
<%# transition passage de 100vh à 0vh en 250ms %>


<%# pour supprimer champ vide dans plateform: params[search][platform].delete_at(0) %>
<%# duration: true = duration > 120, false = duration < 120 %>
<%# famous: true = number_of_rating > 35 000, false = number_of_rating < 35 000  %>
